<section class="news">
    <div class="content">
        <h3 class="news__title">
            Новости
        </h3>

        <div class="news__grid">
            <div class="news-item">
                <img src="./imgs/news-1.png" class="news-item__img">
                <h6 class="news-item__title">
                    Заголовок
                </h6>
                <p class="news-item__about">
                    ОписаниОписание Описание  Описание Описание Описание  Описаниее
                </p>
            </div>

            <div class="news-item">
                <img src="./imgs/news-2.png" class="news-item__img">
                <h6 class="news-item__title">
                    Заголовок
                </h6>
                <p class="news-item__about">
                    ОписаниОписание Описание  Описание Описание Описание  Описаниее
                </p>
            </div>

            <div class="news-item">
                <img src="./imgs/news-3.png" class="news-item__img">
                <h6 class="news-item__title">
                    Заголовок
                </h6>
                <p class="news-item__about">
                    ОписаниОписание Описание  Описание Описание Описание  Описаниее
                </p>
            </div>

            <div class="news-item">
                <img src="./imgs/news-4.png" class="news-item__img">
                <h6 class="news-item__title">
                    Заголовок
                </h6>
                <p class="news-item__about">
                    ОписаниОписание Описание  Описание Описание Описание  Описаниее
                </p>
            </div>

            <div class="news-item">
                <img src="./imgs/news-5.png" class="news-item__img">
                <h6 class="news-item__title">
                    Заголовок
                </h6>
                <p class="news-item__about">
                    ОписаниОписание Описание  Описание Описание Описание  Описаниее
                </p>
            </div>

            <div class="news-item">
                <img src="./imgs/news-6.png" class="news-item__img">
                <h6 class="news-item__title">
                    Заголовок
                </h6>
                <p class="news-item__about">
                    ОписаниОписание Описание  Описание Описание Описание  Описаниее
                </p>
            </div>

            <div class="news-item news-item--spacer"></div>
        </div>
    </div>
</section>