<header class="header js-header">
    <div class="content header__content">
        <img src="./imgs/logo.png" alt="logo" class="header__logo">

        <div class="header__spacer"></div>

        <div class="header__tabs tabs-wrap js-tabs-wrap">
            <div class="tabs-wrap__item tab">
                <div class="tab__content js-tab">
                    Пункт 1
                </div>
                {% include "./tabAdvantage.html" %}
            </div>


            <div class="tabs-wrap__item tab">
                <div class="tab__content js-tab">
                    Пункт 2
                </div>
                {% include "./tabAdvantage.html" %}
            </div>


            <div class="tabs-wrap__item tab">
                <div class="tab__content js-tab">
                    Пункт 3
                </div>
                {% include "./tabAdvantage.html" %}
            </div>


            <div class="tabs-wrap__item tab">
                <div class="tab__content js-tab">
                    Пункт 4
                </div>
                {% include "./tabAdvantage.html" %}
            </div>


            <div class="tabs-wrap__item tab">
                <div class="tab__content js-tab">
                    Пункт 5
                </div>
                {% include "./tabAdvantage.html" %}
            </div>
        </div>

        <div class="header__btn burger js-burger">
            <div class="burger__item"></div>
            <div class="burger__item"></div>
            <div class="burger__item"></div>
        </div>
    </div>




    <div class="header__fade js-fade"></div>
    <div class="header__bg"></div>
</header>