<div class="advantages">
    <div class="advantages__wrap">
        <div class="advantages__content">
            <div class="advantages__item">
                Подпункт меню
            </div>
            <div class="advantages__item">
                Подпункт меню
            </div>
            <div class="advantages__item">
                Подпункт меню
            </div>
            <div class="advantages__item">
                Подпункт меню
            </div>
            <div class="advantages__item">
                Подпункт меню
            </div>
        </div>
    </div>
</div>
