<section class="subscribe">
    <div class="content subscribe__content">
        <h3 class="subscribe__title js-subscribe-title">
            Подпишись
        </h3>

        <h4 class="subscribe__subtitle">
            Отправляем анонсы новых статей, выпусков и трансляций
        </h4>

        <form class="subscribe__form form js-form">
            <input type="text" class="form__input form__item" name="email" placeholder="Email">
            <input type="text" class="form__input form__item" name="date" placeholder="11.02.2022">
            <input type="text" class="form__input form__item" name="phone" placeholder="Телефон">
            <input type="text" class="form__input form__item" name="time" placeholder="15:00">

            <button class="form__submit form__item">
                Подписаться
            </button>
        </form>
    </div>
</section>