<footer class="footer">
    <div class="footer__content content">
        <div class="footer__text">
            <div class="footer__text-name">Заголовок</div>
            <div class="footer__text-description">Описани Описани Описани Описание Описание Описание Описание Описание  Описаниее</div>
            <a class="footer__text-url" href="https://500na700.ru/">500na700.ru</a>
        </div>
        <div class="footer__logo">
            <a class="logo" href="https://vk.com/">
                <img src="./imgs/vk.png" href="https://500na700.ru/" alt="logo">
            </a>
            <a class="logo" href="https://www.facebook.com/">
                <img src="./imgs/fb.png" href="https://500na700.ru/" alt="logo">
            </a>
            <a class="logo" href="https://www.tiktok.com/ru-RU/">
                <img src="./imgs/tiktok.png" href="https://500na700.ru/" alt="logo">
            </a>
            <a class="logo" href="https://www.youtube.com/">
                <img src="./imgs/youtube.png" href="https://500na700.ru/" alt="logo">
            </a>
        </div>
    </div>
</footer>