.faq {

    &__content {
        display: flex;
        color: #FFF;
    }
    &__name {
        font-family: 'M PLUS 1p', sans-serif;
        font-size: 80px;
        font-weight: 500;
        line-height: 85px;
        margin-right: 98px;
    }
    &__info {

    }
}

hr {
    color: #FFF;
    margin: 0px;
    border: 0.5px solid #FFF;
}