body, html, header, main, footer, section, article, div, span, input, img {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #0B0A0D;
    overflow-x: hidden;
    font-family: 'M PLUS 1p', sans-serif;
}

.main {
    height: 400px;
    background: wheat;
}