body, html, header, main, footer, section, article, div, span, input, img, p {
    display: block;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #0B0A0D;
    overflow-x: hidden;
    font-family: 'M PLUS 1p', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}