<section class="slider">
    <div class="slider__wrap js-slider">
        <div class="slide-item">
            <div class="slide-item__title">
                Слайд 1
            </div>
            <img src="./imgs/slide.png" alt="" class="slide-item__img slide-item__img--desktop">
            <img src="./imgs/slide-small.png" alt="" class="slide-item__img slide-item__img--mobile">
        </div>
        <div class="slide-item">
            <div class="slide-item__title">
                Слайд 2
            </div>
            <img src="./imgs/slide.png" alt="" class="slide-item__img slide-item__img--desktop">
            <img src="./imgs/slide-small.png" alt="" class="slide-item__img slide-item__img--mobile">
        </div>
        <div class="slide-item">
            <div class="slide-item__title">
                Слайд 3
            </div>
            <img src="./imgs/slide.png" alt="" class="slide-item__img slide-item__img--desktop">
            <img src="./imgs/slide-small.png" alt="" class="slide-item__img slide-item__img--mobile">
        </div>
    </div>
    <div class="slider__control">
        <div class="slider__arrow js-prev-arrow">
            {% include "./arrow.html" %}
        </div>
        <div class="slider__arrow slider__arrow--right js-next-arrow">
            {% include "./arrow.html" %}
        </div>
    </div>
</section>