<article class="faq">
    <div class="faq__content content">
        <div class="faq__name">
            FAQ
        </div>
        <div class="faq__info-query query">
            <div class="query__block">
                <div class="query__block-question">
                    Как добраться до музея?
                </div>
                <div class="query__block-answer">
                    В Национальный музей Республики Татарстан можно добраться общественным транспортом:( 1)) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;
                </div>
            </div>
            <div class="query__block">
                <div class="query__block-question">
                    Есть ли поблизости удобная парковка?
                </div>
                <div class="query__block-answer">
                    В Национальный музей Республики Татарстан можно добраться общественным транспортом:( 1)) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;
                </div>
            </div>
            <div class="query__block">
                <div class="query__block-question">
                    Можно ли воспользоваться аудиогидом?
                </div>
                <div class="query__block-answer"> 
                    В Национальный музей Республики Татарстан можно добраться общественным транспортом:( 1)) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;
                </div>
            </div>

            <!-- <ul>
                {% for item in items %}
                <li>{{ item.q }}</li>
                {% else %}
                <li>This would display if the 'item' collection were empty</li>
                {% endfor %}
            </ul> -->

        </div>
    </div>
</article>



