{% for item in items %}
  <div>{{item.title}}</div>
{% endfor %}

<script>
  let items = [
      {
          q: "Как добраться до музея?",
          answer: "В Национальный музей Республики Татарстан можно добраться общественным транспортом:(1)) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;"
      }, 
      {
          q: "Есть ли поблизости удобная парковка?",
          answer: "В Национальный музей Республики Татарстан можно добраться общественным транспортом:(1)) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;"
      },
      {
          q: "Можно ли воспользоваться аудиогидом?",
          answer: "В Национальный музей Республики Татарстан можно добраться общественным транспортом:(1)) «Станция метро «Кремлевская», а затем по направлению к Кремлю пройдя 5 минут пешком;"
      }
  ];
  var items = nunjucks.render('./items.html', items);
    $('#test').html(items)
</script>