<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal site</title>
  <link rel="stylesheet" href="./css/index.min.css">
  <script type="text/javascript" src="./js/index.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>
<body>
  {% include "./templates/header/index.html" %}

  <main class="main">
    {% include "./templates/slider/index.html" %}
  </main>
  {% include "./templates/footer/index.html" %}
</body>
</html>